@model LibreriaClases.DTO.DTOContactoPublicante
@{
    ViewBag.Title = "ObtenerDatosPublicante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card bg-success text-light mt-5 mb-5">
                <div class="card-header text-center">
                    <h2>Datos de @Model.tipoPublicante</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label>Nombre: <b>@Model.nombreCompletoPublicante</b></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Teléfono: @Model.telefonoContactoPrincipal</label>
                        </div>
                    </div>
                    @if (Model.telefonoContactoAlternativo != "-1")
                    {
                        <div class="row">
                            <div class="col">
                                <label>Teléfono (alternativo): @Model.telefonoContactoAlternativo</label>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col">
                            <label>Email: <b>@Model.email       </b><a href="mailto:@Model.email">Enviar correo</a></label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row mb-5">
        <div class="col text-center">
            <h2>¡No dudes en ponerte en contacto con el/ella!</h2>
        </div>

    </div>
    <div class="col-md-3">
        <a class="btn btn-lg btn-secondary" href="javascript:history.back()">Volver</a>
    </div>
</div>

