@model WebApp.DTO.DTOTodosResultadosBusqueda

@{
    ViewBag.Title = "CargarBusquedaGenerica";

}

<h2>Resultado de Búsqueda</h2>
@foreach (var item in Model.ListaDtoResultadoPublicacion)
{
    <div class="panel panel-info">
        <div class="panel-heading">@item.tipoPropiedad</div>
        <div class="panel-body">
            <div class="row">
                <center>
                    <div class="col-md-4">
                        <img src='@Url.Action("VisualizarImagen", "Publicacion", new { publicacionId = @item.publicacionId })' class="img-responsive" alt="" height=200 width=300 />
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <label class="control-label">Tipo de Propiedad:</label>@item.tipoPropiedad
                        </div>
                        <div class="row">
                            <label class="control-label">Tipo de Operación:</label>@item.tipoOperacion
                        </div>
                        <div class="row">
                            <label class="control-label">Dirección:</label>@item.direccionPropiedad
                        </div>
                        <div class="row">
                            <label class="control-label">País:</label>@item.pais
                        </div>
                        <div class="row">
                            <label class="control-label">Provincia:</label>@item.provincia
                        </div>
                        <div class="row">
                            <label class="control-label">Ciudad:</label>@item.ciudad
                        </div>
                        <div class="row">
                            <label class="control-label">Precio:$</label>@item.precioPropiedad
                        </div>
                        <div class="row">
                            <label class="control-label">Fecha de Publicacíón:</label>@item.fechaInicioPublicacion
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Ver datos publicante", "Index", "SolicitarContactoPublicante", new { publicacionId = item.publicacionId }, new { @class = "btn btn-lg btn-primary" });
                    </div>
                </center>

            </div>
        </div>
    </div>
}