@model LibreriaMercadoPago.DTO.DTOCompra

@{
    ViewBag.Title = "BuyCredits";
    Layout = "~/Views/Shared/PanelControl2.cshtml";
}

@if (!String.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @Html.ValidationSummary(false)
    </div>
}


<h2>Aquí podrás comprar tus créditos.</h2>

<div class="container mt-4">
    <div class="row justify-content-center">

        @{
            Int32 contador = 0;
            foreach (var prefences in Model.preferences)
            {
                <div class="col-12 col-lg-3 card ml-lg-3 mt-3 Contenedor" style="background-image: linear-gradient(to bottom ,darkred,orangered);background-color: ">
                    <div class="card-header" style="background-color:transparent;">
                        <h3>Créditos</h3>
                        <h4>@Model.dTOCreditos.ElementAt(contador).NombrePack</h4>
                        <hr />
                        <h6>$@Model.dTOCreditos.ElementAt(contador).Precio @Model.dTOCreditos.ElementAt(contador).TipoMoneda.denominacionMoneda</h6>
                    </div>
                    <div class="card-body ">
                        <h6 style="font-size:13px;"><b>Cantidad de créditos:</b>&nbsp;@Model.dTOCreditos.ElementAt(contador).CantidadCreditos</h6>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-center">
                            <form action="@Url.Action("Notification", "BuyCredits")" method="post">
                                <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                                        data-preference-id="@Html.DisplayFor(model => prefences.Id)" data-button-label="Comprar">
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
                contador++;
            }
        }
    </div>
</div>



