

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Script Google-->
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script>
    function handleCredentialResponse(response) {
        let token = response.credential;
        console.log("Encoded JWT ID token: " + response.credential);
        fetch("/Usuario/loginGoogle?code=" + token ).then(res => {
            console.log("Request complete! response:", res);
        });
    }
    window.onload = function () {
        google.accounts.id.initialize({
            client_id: "224298944678-d4rokpd16rm8hjb72c91rs4h7egn2hns.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
        );

        google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form action="@Url.Action("Login","Usuario")" method="post">
                <div class="card border-dark mt-5 mb-5">
                    <div class="card-header bg-dark border-dark">
                        <h2 class="text-center text-light">Login</h2>
                        <p class="text-center text-light">¡Propy le da la bienvenida!</p>
                    </div>
                    <div class="card-body bg-light">

                        @if (!String.IsNullOrEmpty(ViewBag.Error))
                        {
                            <div class="alert alert-danger">
                                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                @if (!String.IsNullOrEmpty(ViewBag.EmailNoVerificado))
                                {
                                    @Html.ActionLink("No he recibo un mail de verificación. Volver a enviar", "ReenvioMailVerificacion", "Usuario", null, new { @class = "btn btn-sm btn-outline-danger" });
                                }
                            </div>

                        }

                        <div class="row justify-content-center mb-3">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">

                                        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                    </div>
                                    <input class="form-control" type="email" name="email" required />
                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">

                                        <span class="input-group-text" id="inputGroup-sizing-default">Clave</span>
                                    </div>
                                    <input class="form-control" type="password" name="clave" required />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col text-center">
                                @Html.ActionLink("Olvidé mi clave.", "RecuperarContraseñaPaso1", "Usuario")
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col text-center">
                                @Html.ActionLink("Soy nuevo, quiero registrarme.", "CrearCuenta", "Usuario")
                            </div>
                        </div>
                    </div>
                    <div id="buttonDiv" data-longtitle="true"></div>
                    <div class="card-footer bg-dark border-dark">
                        <center>
                            <input class="btn btn-lg btn-success" type="submit" name="name" value="Entrar" />
                        </center>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-3">

        </div>
    </div>

</div>


